# This list has GitHub users that campers will require approval from when making a pull request. 
# This includes if they want to modify current files, but they should be mainly uploading payload code. 
# If this proves to be too cumbersome we can assign 1 camper within the specific groups to add here.
* @bloopboards @c-stumph @Fancy-Raccoon-42 @Paisley-B @CarsonRusyniak @Juno-26 @laryhill